# CMSIS-DAP / ST-Link Debugger with STM32L4x Target (beidou_4g: STM32L432)

# source [find interface/cmsis-dap.cfg]
# 若使用ST-Link调试器，请取消注释此行并注释上一行
source [find interface/stlink-dap.cfg]

transport select dapdirect_swd
set CONNECT_UNDER_RESET 1
set ENABLE_LOW_POWER 1
set STOP_WATCHDOG 1
source [find target/stm32l4x.cfg]

reset_config srst_only srst_nogate connect_assert_srst
